body{
  margin:0;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
}

.container{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 320px;
  background: #1e293b;
  padding: 25px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

input {
  padding: 10px;
  border-radius: 8px;
  border: none;
  outline: none;
}

button {
  padding: 10px;
  border-radius:8px;
  border:none;
  background: #3b82f6;
  color: white;
  cursor:pointer;
  transition: 0.2s;

}

button:hover{
  background:#2563eb;
}

.link{
  text-align: center;
  color:#60a5fa;
  cursor: pointer;
  font-size: 14px;
}